node_modules
dist
.tmp
.sass-cache
bower_components
test/bower_components
.babelrc
.editorconfig
.gitattributes
.gitignore.swp
.idea
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/vendor/
/bin/
